<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- أذونات الإنترنت والإشعارات -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- إزالة أذونات الخدمة في الخلفية -->

    <application
        android:label="Om Elnour Choir"
        android:name="${applicationName}"
        android:icon="@mipmap/logo">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3343409547143147~8337564911"/>

        <activity
            android:name="com.egypt.redcherry.omelnourchoir.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- خدمة الخلفية الحالية -->
        <service
            android:name="id.flutter.flutter_background_service.BackgroundService"
            android:permission="android.permission.FOREGROUND_SERVICE"
            android:exported="true"
            tools:replace="android:exported"/>

        <!-- إزالة خدمة تشغيل الصوت في الخلفية لـ just_audio_background -->
        <!-- إزالة مستقبل أزرار الوسائط -->

        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>

    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>

</manifest>
