<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776805127807-ilrpnlnu0plbro9kojofpdgl4pdhfvno.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776805127807-ilrpnlnu0plbro9kojofpdgl4pdhfvno</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>776805127807-ha78ot9qlvodlftu4cid6k4keoi7h6ub.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCWWO-QEVr7GS3K9-XOYJ3Sj59TjCme0-E</string>
	<key>GCM_SENDER_ID</key>
	<string>776805127807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.egypt.redcherry.omelnourchoir</string>
	<key>PROJECT_ID</key>
	<string>om-elnour-choir-new</string>
	<key>STORAGE_BUCKET</key>
	<string>om-elnour-choir-new.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776805127807:ios:8cff5343a88073c1af114a</string>
	<key>DATABASE_URL</key>
	<string>https://om-elnour-choir-new.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-3343409547143147~7851985924</string>
</dict>
</plist>